*{
    box-sizing: border-box;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background: none repeat scroll 0 0 transparent;border: 0 none;font-size: 100%;outline: 0 none;vertical-align: baseline;margin: 0;padding: 0;}table{border-collapse:collapse;border-spacing:0;}address,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section,summary{display:block;}  a, a:hover,button,button:hover, .anime, .small_btn, .btn:hover .small_btn   {-moz-transition:all 200ms linear;-ms-transition:all 200ms linear;-o-transition:all 200ms linear;-webkit-transition:all 200ms linear;transition:all 200ms linear;}  button{cursor:pointer;}  *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;} 
h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
button{
    padding: 0;
    margin: 0;
}
button:focus,
input:focus,
select:focus{
    outline: none;
}
:focus{
    outline: none;
}
a{
    text-decoration: none;
}

/*Flex Framework*/ 
.main-flex {display:flex;display:-webkit-flex;} 
.main-flex__nowrap{display:flex;display:-webkit-flex;} 
.flex__content_between {justify-content:space-between;-webkit-justify-content:space-between;} 
.flex__content_start{justify-content:flex-start;-webkit-justify-content:flex-start;}
.flex__content_end{justify-content:flex-end;-webkit-justify-content:flex-end;} 
.flex__content_center{justify-content:center;-webkit-justify-content:center;} 
.flex__content_around{justify-content:space-around;-webkit-justify-content:space-around;} 
.flex__auto {flex:auto;-webkit-flex:auto;-ms-flex:auto;} 
.flex__align-items_start{align-items:flex-start;-webkit-align-items:flex-start;} 
.flex__align-items_end{align-items:flex-end;-webkit-align-items:flex-end;} 
.flex__align-items_baseline{align-items:baseline;-webkit-align-items:baseline;} 
.flex__align-items_stretch{align-items:stretch;-webkit-align-items:stretch;} 
.flex__align-items_center{align-items:center;-webkit-align-items:center;} 
.flex__align-content_flex-start{align-content:flex-start;-webkit-align-content:flex-start;} 
.flex__align-content_flex-end{align-content:flex-end;-webkit-align-content:flex-end;} 
.flex__align-content_space-between{align-content:space-between;-webkit-align-content:space-between;} 
.flex__align-content_center{align-content:center;-webkit-align-content:center;} 
.flex__align-content_space-around{align-content:space-around;-webkit-align-content:space-around;} 
.flex__align-content_stretch{align-content:stretch;-webkit-align-content:stretch;} 
.flex__flex-grow_01{flex-grow:1;-webkit-flex-grow:1;} 
.flex__flex-grow_02{flex-grow:2;-webkit-flex-grow:2;} 
.flex__flex-grow_03{flex-grow:3;-webkit-flex-grow:3;} 
.flex__flex-grow_04{flex-grow:4;-webkit-flex-grow:4;} 

body{
    width: 100%;
    height: 100%;
    background: #18191E;
    /* background-size: cover;
    background-repeat: repeat-x; */
    color: #959595;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    letter-spacing: 0.08em;
    overflow-x: hidden;
}
/*lines block*/
.lines .line{
    height: 100%;
    border-left: 1px solid #e6e2e2;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 1px; 
}
.lines .line:first-of-type{
    left: 5%;
}
.lines .line:nth-of-type(2){
    left: 23%;
}
.lines .line:nth-of-type(3){
    left: 41%;
}
.lines .line:nth-of-type(4){
    left: 59%;
}
.lines .line:nth-of-type(5){
    left: 77%;
}
.lines .line:last-of-type{
    left: 95%;
}
.wrapper{
    max-width: 85.33vw;
    margin: 0 auto;
    position: relative;
}
.fs-17{
    font-size: 17px;
    line-height: 24px;
}
.fs-21{
    font-size: 21px;
}
.fs-23 {
    font-size: 23px;
    line-height: 33px;
}
.fs-29{
    font-size: 29px;
    line-height: 33px;
}
.fs-32{
    font-size: 32px;
    line-height: 35px;
}
.fs-62{
    font-size: 62px;
    line-height: 67px;
}

/*page index*/
header{
    height: 16vh;
}
.logo{
    margin-top: 5.4vh;
    width: 28%;
}
.logo img{
    width: 100%;
}
.logo p{
    border-top: 10px;
}
.top-menu{
    margin-top: 7.66vh;
    width: 59%;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    width: 70%;
}
.menu ul li a{
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    position: relative;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    z-index: 2;
}
.menu ul li a::after{
    content: '';
    border-bottom: 2px solid #FFDD00;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 6px;
    height: 3px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    z-index: -1;
}
.menu ul li a:hover::after{
    width: 105%;
}

.language{
    line-height: 25px;
    color: #fff;
    margin-left: 8.59vw;
}
.language ul li{
    padding: 0 13px;
    border-right: 1px solid #fff;
    cursor: pointer;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}
.language ul li:hover{
    color: #FFDD00;
}
.language ul li:last-of-type{
    border: none;
    padding-right: 0;
}
.first-screen{
    height: 84vh;
}
.block-description{
    width: 37.18vw;
    height: 28.75vh;
    margin-top: 23.91vh;
    position: relative;
}
.title-block{
    font-weight: 700;
    color: #fff;
    letter-spacing: 9px;
    padding-bottom: 10px;
    position: relative;
}
.title-block::before{
    content: '';
    width: 4.16vw;
    border-bottom: .75vh solid #FFDD00;
    position: absolute;
    left: 0;
    top: -15px;
}
.title-block span{
    font-weight: 500;
}
.text-block{
    padding-bottom: 8px;
}
.first-screen .block-description .text-block{
    width: 92%;
}
.arrow{
    position: absolute;
    left: 0;
    bottom: 5vh;
    width: 1.14vw;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.arrow img{
    width: 100%;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.arrow img:first-of-type{
    transform: translateY(150%);
    -webkit-transform: translateY(150%);
    -moz-transform: translateY(150%);
    -ms-transform: translateY(150%);
    -o-transform: translateY(150%);
}
.arrow div{
    color: #fff;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.arrow:hover img:first-of-type{
    transform: translateY(-320%);
    -webkit-transform: translateY(-320%);
    -moz-transform: translateY(-320%);
    -ms-transform: translateY(-320%);
    -o-transform: translateY(-320%);
}
.arrow:hover div{
    opacity: 1;
}
.block-img{
    width: 52.76vw;
    height: 84vh;
    overflow: hidden;
    background: url(../img/image.png) no-repeat center center;
    background-size: cover;
}
.block-img img{
    width: 100%;
}

/*section block-video*/
.block-video{
    margin-top: 47px;
    margin-bottom: 150px;
}
.subtitle-block{
    font-weight: 700;
    color: #fff;
    letter-spacing: 9px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.subtitle-block a{
    color: #fff;
    position: relative;
    z-index: 2;
}
.subtitle-block a::after{
    content: '';
    border-bottom: 3px solid #FFDD00;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 15px;
    height: 3px;
    z-index: -1;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.subtitle-block a:hover::after{
    width: 100%;
}
.video,
.image{
    width: 41.04vw;
}
.video img,
.image img{
    width: 100%;
}
.block-desc{
    width: 37.02vw;
    padding-bottom: 25px;
    border-bottom: 2px solid #FFDD00;
}

.block-work{
    margin-bottom: 150px;
}

/*section form-communication*/
.form-communication{
    background-color: #18191E;
    border-bottom: 1px solid #FFDD00;
    position: relative;
    z-index: 2;
}
.form-communication__title{
    height: 122px;
    background-color: #FFDD00;
    text-align: center;
}
.form-communication__title h2{
    color: #000;
    line-height: 122px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.form-communication__title h2 span{
    font-weight: 500;
}

/* style input */
.form-communication__form{
    width: 51.56vw;
    margin: 70px auto 80px;
    display: flex;
    flex-wrap: wrap;
}
.input-form{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 82px;
    width: 24.21vw;
    margin-right: 3.12vw;
}
.input-form:nth-of-type(2n){
    margin-right: 0;
}
.input-form:last-of-type{
    width: 100%;
    margin-right: 0;
}
.input-form label{
    position: absolute;
    pointer-events: none;
    top: 50%;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #fff;
    transition: ease-out 0.2s;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -ms-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.input-form label.active{
    opacity: 0;
}
.input-form label span{
    color: #FFDD00;
}
.input-form input{
    height: 45px;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    transition: ease-out 0.2s;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -ms-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
}
.input-form input:focus{
    border-bottom: 1px solid #FFDD00;
}
.btn-yellow{
    width: 20.83vw;
    height: 68px;
    background-color: #FFDD00;
    border: none;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin: 0 auto;
    cursor: pointer;
}
.btn-yellow span:hover{
    opacity: 0.7;
}
.btn-yellow span span{
    font-weight: 500;
}

/*footer*/
.footer{
    padding-top: 75px;
    padding-bottom: 68px;
}
footer p:last-of-type{
    margin-left: 22.37vw;
}
.footer-link li{
    margin-left: 4.58vw;
}
.footer-link li a{
    text-transform: uppercase;
    color: #959595;
    letter-spacing: 0.08em;
}

/*page about*/
.yellow{
    color: #FFDD00;
}
.black{
    color: #18191E;
}
.about .block-img{
    background: #18191E url(../img/about/image-2.png) no-repeat top center;
    background-size: cover;
}
.about .block-description{
    width: 65%;
    height: 100%;
}
.signature{
    position: absolute;
    width: 33%;
    right: 0;
    bottom: -50%;
}
.signature img{
    width: 100%;
}
.brand-question,
.brand-change,
.brand-idea,
.brand-steps{
    background: #fff;
    padding-top: 152px;
}
.subtitle-block span.yellow span{
    font-weight: 400;
}
.text-option{
    font-weight: 600;
}

.text-option li{
    padding-bottom: 8px;

}
.brand-change,
.brand-idea{
    margin-top: -5px;
}
.our-achievements{
    display: flex;
    flex-wrap: wrap;
    width: 39.02vw;
    margin-left: -36px;
}
.our-achievements .our-achievements__content{
    width: 50%;
    margin-top: 35px;
    align-items: center;
}
.our-achievements .our-achievements__content div{
    font-size: 78px;
    width: 80px;
    color: #FFDD00;
    line-height: 78px;
    text-align: right;
}
.our-achievements .our-achievements__content p{
    padding-left: 40px;
    position: relative;
}
.our-achievements .our-achievements__content p::before{
    content: '';
    border-left: 1px solid #959595;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 10px;
}
.brand-steps{
    margin-top: -5px;
    padding-bottom: 150px;
}
.bg-yellow{
     background-color: #FFDD00;
}
.brand-steps__banner{
    padding: 35px 0;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.brand-steps__banner span{
    font-size: 92px;
    line-height: 132px;
    color: #18191E;
    font-weight: 700;
}
.bg-gradient__top{
    background: linear-gradient(to top, #18191E 35%,  #FFDD00 85%);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.brand-steps__desc{
    width: 78%;
    margin-left: 64px;
}
.brand-steps__desc_title{
    color: #18191E;
    padding-bottom: 14px;
    padding-top: 25px;
}
.brand-steps__desc_text{
    padding-bottom: 14px;
}
.brand-steps__desc_list li{
    padding-bottom: 14px;
}
.dog-molli{
    /* position: relative;
    z-index: 2;
    background: #18191E; */
    border-bottom: 1px solid #797979;
}
.molli{
    background: url(../img/about/molli.png) no-repeat bottom left;
    background-size: contain;
    height: 745px;
    position: relative;
}
.molli__title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 465px;
    height: 143px;
    background-color: #FFDD00;
    padding: 34px 0 0 59px;
}
.molli__title span{
    font-weight: 700;
}
.molli .block-desc{
    margin-top: 130px;
}
@media only screen and (max-width: 1845px){
    .fs-17{
        font-size: 15px;
        line-height: 22px;
    }
    .fs-21{
        font-size: 19px;
    }
    .fs-23 {
        font-size: 21px;
        line-height: 28px;
    }
    .fs-29{
        font-size: 26px;
        line-height: 28px;
    }
    .fs-32{
        font-size: 28px;
        line-height: 30px;
    }
    .fs-62{
        font-size: 56px;
        line-height: 56px;
    }
}
@media only screen and (max-width: 1655px){
    .fs-17{
        font-size: 13px;
        line-height: 20px;
    }
    .fs-21{
        font-size: 15px;
    }
    .fs-23 {
        font-size: 18px;
        line-height: 25px;
    }
    .fs-29{
        font-size: 24px;
        line-height: 25px;
    }
    .fs-32{
        font-size: 24px;
        line-height: 25px;
    }
    .fs-62{
        font-size: 48px;
        line-height: 55px;
    }
    .menu ul li a::after{
        bottom: 4px;
    }
    .arrow{
        position: absolute;
        left: 0;
        bottom: 40px;
        width: 1.14vw;
    }
    footer p:last-of-type {
        margin-left: 19.37vw;
    }
    .our-achievements .our-achievements__content div {
        font-size: 70px;
        width: 70px;
        line-height: 70px;
    }
    .our-achievements .our-achievements__content p::before {
        top: 4px;
    }
    .brand-steps__banner span {
        font-size: 75px;
        line-height: 100px;
    }
    .molli__title {
        width: 380px;
        height: 110px;
        padding: 25px 0 0 40px;
    }
    .molli {
        height: 660px;
    }
}
@media only screen and (max-width: 1200px){
    .lines .line:first-of-type{
        left: 8%;
    }
    .lines .line:nth-of-type(2){
        left: 36%;
    }
    .lines .line:nth-of-type(3){
        left: 64%;
    }
    .lines .line:nth-of-type(4){
        display: none;
    }
    .lines .line:nth-of-type(5){
       display: none;
    }
    .lines .line:last-of-type{
        left: 92%;
    }
    .wrapper{
        max-width: 970px;
    }
    .fs-17{
        font-size: 12px;
        line-height: 17px;
    }
    .fs-21{
        font-size: 15px;
    }
    .fs-23 {
        font-size: 14px;
        line-height: 22px;
    }
    .fs-29 {
        font-size: 16px;
        line-height: 16px;
    }
    .fs-32{
        font-size: 28px;
        line-height: 35px;
    }
    .fs-62{
        font-size: 48px;
        line-height: 67px;
    }
    header{
        height: auto;
    }
    .logo {
        margin-top: 5.4vh;
        width: 27%;
    }
    .logo p.fs-17{
        font-size: 9px;
    }
    .top-menu {
        margin-top: 6vh;
        width: 62%;
        justify-content: space-between;
    }
    .language {
        line-height: 20px;
        color: #fff;
        margin-left: 0;
    }
    .first-screen {
        height: 50vh;
    }
    .block-description {
        width: 44%;
        height: 28.75vh;
        margin-top: 13.91vh;
        position: relative;
    }
    .arrow {
        display: none;
    }
    .block-img {
        width: 54%;
        height: auto;
        overflow: hidden;
    }
    .block-desc {
        width: 47%;
    }
    .video, .image {
        width: 50%;
    }
    .form-communication__title {
        height: 100px;
    }
    .form-communication__title h2{
        line-height: 100px
    }
    .form-communication__form {
        width: 70%;
        margin: 70px auto 80px;
        display: flex;
        flex-wrap: wrap;
    }
    .input-form {
        margin-bottom: 62px;
        width: 47%;
        margin-right: 40px;
    }
    .input-form label {
        font-size: 14px;
    }
    .btn-yellow {
        width: 260px;
        height: 58px;
    }
    footer p:last-of-type {
        margin-left: 170px;
    }
    .about .block-description {
        margin-bottom: 115px;
    }
    .signature {
        bottom: -35%;
    }
    .wrap .block-desc {
        width: 100%;
    }
    .brand-steps__desc {
        width: 78%;
        margin-left: 30px;
    }
    .brand-steps__banner {
        padding: 25px 0;
        width: 120px;
    }
    .brand-steps__banner span {
        font-size: 65px;
        line-height: 90px;
    }
    .molli__title {
        width: 300px;
        height: 95px;
        padding: 25px 0 0 30px;
    }
    .molli {
        background: url(../img/about/molli.png) no-repeat bottom left -100px;
        background-size: contain;
        height: 590px;
        position: relative;
    }
    .molli .block-desc {
        margin-top: 63px;
    }
    .brand-question, .brand-change, .brand-idea, .brand-steps {
        padding-top: 80px;
    }
    .our-achievements .our-achievements__content div {
        font-size: 40px;
        width: 40px;
        line-height: 40px;
    }
    .our-achievements .our-achievements__content p::before {
        left: 15px;
    }
    .our-achievements .our-achievements__content p {
        padding-left: 30px;
    }
    .our-achievements .our-achievements__content {
        margin-top: 25px;
    }
    .our-achievements {
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 991px) and (min-width: 750px) {
    .lines .line:first-of-type{
        left: 10%;
    }
    .lines .line:nth-of-type(2){
        left: 36.6%;
    }
    .lines .line:nth-of-type(3){
        left: 63.3%;
    }
    .lines .line:nth-of-type(4){
        display: none;
    }
    .lines .line:nth-of-type(5){
       display: none;
    }
    .lines .line:last-of-type{
        left: 90%;
    }
    .wrapper{
        max-width: 750px;
    }
    .fs-17{
        font-size: 11px;
        line-height: 13px;
    }
    .fs-21{
        font-size: 12px;
    }
    .fs-23 {
        font-size: 14px;
        line-height: 22px;
    }
    .fs-29 {
        font-size: 15px;
        line-height: 16px;
    }
    .fs-32{
        font-size: 22px;
    }
    .fs-62{
        font-size: 27px;
        line-height: 35px;
    }

    .logo {
        margin-top: 20px;
        width: 26%;
    }
    .logo p.fs-17 {
        font-size: 9px;
    }
    .top-menu {
        margin-top: 25px;
        width: 70%;
        justify-content: space-between
    }
    .menu ul {
        width: 78%;
    }
    .language {
        line-height: 18px;
        color: #fff;
        margin-left: 0;
    }
    .language ul li {
        padding: 0 8px;
    }
    .first-screen {
        height: auto;
    }
    .block-description {
        width: 50%;
        height: auto;
        margin-top: 100px;
        position: relative;
        padding-bottom: 80px;
    }
    .title-block::before {
        content: '';
        width: 45px;
        border-bottom: 4px solid #FFDD00;
    }
    .first-screen .block-description .text-block {
        width: 100%;
    }
    .arrow {
        display: none;
    }
    .block-img {
        width: 48%;
        height: auto;
    }
    .block-video {
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .video, .image {
        width: 49%;
    }
    .block-desc {
        width: 48%;
        padding-bottom: 10px;
        border-bottom: 2px solid #FFDD00;
    }
    .block-work {
        margin-bottom: 85px;
    }
    .form-communication__title {
        height: 85px;
    }
    .form-communication__title h2 {
        line-height: 85px;
    }
    .form-communication__form {
        width: 75%;
        margin: 60px auto 70px;
    }
    .input-form {
        margin-bottom: 55px;
        width: 47%;
        margin-right: 33px;
    }
    .input-form label{
        font-size: 13px;
        line-height: 16px;
    }
    .input-form input{
        font-size: 13px;
    }
    .btn-yellow {
        width: 45%;
        height: 50px;
    }
    .footer {
        padding-top: 45px;
        padding-bottom: 35px;
    }
    footer p:last-of-type {
        margin-left: 40px;
    }
    .about .block-description {
        margin-bottom: 130px;
        padding-bottom: 0;
    }
    .brand-steps__banner {
        padding: 25px 0;
        width: 95px;
    }
    .brand-steps__desc {
        width: 81%;
        margin-left: 18px;
    }
    .brand-steps__desc_text {
        padding-bottom: 8px;
    }
    .brand-steps__desc_title {
        color: #18191E;
        padding-bottom: 10px;
        padding-top: 14px;
    }
    .brand-steps {
        margin-top: -5px;
        padding-bottom: 50px;
    }
    .molli {
        height: 475px;
    }
    .molli__title {
        width: 243px;
        height: 80px;
        padding: 14px 0 0 15px;
    }
    .molli .block-desc {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 749px) and (min-width: 601px) {
    .lines .line:first-of-type{
        left: 15%;
    }
    .lines .line:nth-of-type(2){
        left: 50%;
    }
    .lines .line:nth-of-type(3){
        display: none;
    }
    .lines .line:nth-of-type(4){
        display: none;
    }
    .lines .line:nth-of-type(5){
       display: none;
    }
    .lines .line:last-of-type{
        left: 85%;
    }
    .wrapper{
        max-width: 580px;
    }
    .fs-17{
        font-size: 10px;
        line-height: 13px;
    }
    .fs-21{
        font-size: 11px;
    }
    .fs-23 {
        font-size: 13px;
        line-height: 20px;
    }
    .fs-32{
        font-size: 24px;
    }
    .fs-62{
        font-size: 30px;
        line-height: 35px;
    }

    .logo {
        margin-top: 20px;
        width: 24%;
    }
    .logo p.fs-17 {
        font-size: 9px;
    }
    .top-menu {
        margin-top: 20px;
        width: 73%;
        justify-content: space-between
    }
    .menu ul {
        width: 76%;
    }
    .language {
        line-height: 15px;
        margin-top: 3px;
        color: #fff;
        margin-left: 0;
    }
    .language ul li {
        padding: 0 8px;
    }
    .first-screen {
        height: auto;
    }
    .block-description {
        width: 50%;
        height: auto;
        margin-top: 100px;
        position: relative;
    }
    .title-block::before {
        content: '';
        width: 45px;
        border-bottom: 4px solid #FFDD00;
    }
    .first-screen .block-description .text-block {
        width: 100%;
    }
    .arrow {
        display: none;
    }
    .block-img {
        width: 48%;
        height: auto;
    }
    .block-video {
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .video, .image {
        width: 49%;
    }
    .block-desc {
        width: 48%;
        padding-bottom: 10px;
        border-bottom: 2px solid #FFDD00;
    }
    .block-work {
        margin-bottom: 85px;
    }
    .form-communication__title {
        height: 85px;
    }
    .form-communication__title h2 {
        line-height: 85px;
    }
    .form-communication__form {
        width: 75%;
        margin: 60px auto 70px;
    }
    .input-form {
        margin-bottom: 35px;
        width: 100%;
        margin-right: 0;
    }
    .input-form label{
        font-size: 13px;
        line-height: 16px;
    }
    .input-form input{
        font-size: 13px;
    }
    .btn-yellow {
        width: 45%;
        height: 50px;
    }
    .footer {
        padding-top: 45px;
        padding-bottom: 35px;
    }
    footer p:last-of-type {
        margin-left: 20px;
    }
    .footer-link li {
        margin-left: 20px;
    }
    .our-achievements {
        width: 75%;
        margin-left: 0;
        flex-flow: column;
    }
    .our-achievements .our-achievements__content {
        margin-top: 20px;
        width: 100%;
    }
    .our-achievements .our-achievements__content p::before {
       height: 30px;
    }
    .brand-steps__desc_title {
        color: #18191E;
        padding-bottom: 8px;
        padding-top: 10px;
    }
    .brand-steps__desc_text {
        padding-bottom: 6px;
    }
    .brand-steps__desc {
        width: 85%;
        margin-left: 15px;
    }
    .brand-steps__banner {
        padding: 25px 0;
        width: 80px;
    }
    .brand-steps__banner span {
        font-size: 50px;
        line-height: 90px;
    }
    .molli__title {
        width: 240px;
        height: 75px;
        padding: 15px 0 0 20px;
    }
    .molli {
        background: url(../img/about/molli.png) no-repeat bottom left -180px;
        background-size: contain;
        height: 410px;
        position: relative;
    }
    .molli .block-desc {
        margin-top: 20px;
        width: 60%;
    }
    .brand-steps {
        margin-top: -5px;
        padding-bottom: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .lines .line:first-of-type{
        left: 15%;
    }
    .lines .line:nth-of-type(2){
        left: 50%;
    }
    .lines .line:nth-of-type(3){
        display: none;
    }
    .lines .line:nth-of-type(4){
        display: none;
    }
    .lines .line:nth-of-type(5){
       display: none;
    }
    .lines .line:last-of-type{
        left: 85%;
    }
    .wrapper{
        max-width: 100%;
        padding: 0 25px;
    }
    .fs-17{
        font-size: 10px;
        line-height: 13px;
    }
    .fs-21{
        font-size: 11px;
    }
    .fs-23 {
        font-size: 15px;
        line-height: 22px;
    }
    .fs-32{
        font-size: 16px;
        line-height: 32px;
    }
    .fs-62{
        font-size: 30px;
        line-height: 32px;
    }
    header{
        height: auto;
    }
    .logo {
        margin-top: 33px;
        width: 200px;
    }
    .logo p.fs-17 {
        font-size: 9px;
        line-height: 13px;
    }
    /*button menu*/
    .menu-btn{
        height: 20px;
        width: 20px;
        position: relative;
        cursor: pointer;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        display: block;
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #FFDD00;
    }
    .menu-btn span::before,
    .menu-btn span::after{
        content: '';
        display: block;
        transition: 0.3s;
    }
    .menu-btn span::before{
        transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -o-transform: translateY(-7px);
}
    .menu-btn span::after{
        transform: translateY(7px);
        -webkit-transform: translateY(7px);
        -moz-transform: translateY(7px);
        -ms-transform: translateY(7px);
        -o-transform: translateY(7px);
}
    .menu-btn_active span{
        height: 0;
    }
    .menu-btn_active span:before {
        transform: rotate(-42deg);
    }
    .menu-btn_active span:after {
        transform: rotate(42deg);
    }
    /*button menu*/
    .top-menu {
        margin-top: 36px;
        width: 20px;
        justify-content: space-between
    }
    
    .menu {
        display: none;
        background: #18191E;
        height: auto;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 59%;
        right: 0;
        z-index: 10;
        padding-bottom: 40px;
    }
    .menu ul{
        flex-flow: column;
        width: 100%;
        padding-left: 25px;
        padding-top: 25px;
        font-size: 15px;
    }
    .menu ul li{
        padding: 14px 0;
    }
    .language {
        line-height: 15px;
        margin-top: 3px;
        color: #fff;
        margin-left: 0;
    }
    .language ul{
        flex-flow: row;
        font-size: 16px;
        padding-left: 15px;
    }
    .language ul li {
        padding: 0 10px;
    }
    .first-screen {
        height: auto;
    }
    .block-description {
        width: 290px;
        height: auto;
        margin-top: 130px;
        position: relative;
        z-index: 2;
        padding-bottom: 85px;
    }
    .title-block::before {
        content: '';
        width: 45px;
        border-bottom: 4px solid #FFDD00;
    }
    .first-screen .block-description .text-block {
        width: 100%;
    }
    .arrow {
        display: none;
    }
    .block-img {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url(../img/image.png) no-repeat top left 150px;
        background-size: 510px;
        right: 0;
        z-index: 1;
    }
    .block-video {
        margin-top: 115px;
        margin-bottom: 80px;
    }
    .block-video .wrapper,
    .block-work .wrapper{
        flex-flow: column;
    }
    .video, .image {
        width: 100%;
    }
    .block-video .video{
        order: 2; 
    }
    .block-video .block-desc{
        order: 1;
    }
    .subtitle-block {
        letter-spacing: 5px;
    }
    .block-desc {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 2px solid #FFDD00;
        margin-bottom: 30px;
    }
    .block-work {
        margin-bottom: 85px;
    }
    .form-communication__title {
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-communication__title h2 {
        line-height: 23px;
    }
    .form-communication__form {
        width: 100%;
        margin: 30px auto 70px;
    }
    .input-form {
        margin-bottom: 35px;
        width: 100%;
        margin-right: 0;
    }
    .input-form label{
        font-size: 13px;
        line-height: 16px;
    }
    .input-form input{
        font-size: 13px;
    }
    .btn-yellow {
        width: 290px;
        height: 46px;
    }
    .footer {
        padding-top: 45px;
        padding-bottom: 35px;
    }
    .block-footer {
        flex-flow: column;
    }
    footer p:last-of-type {
        margin-left: 0;
        letter-spacing: 1px;
    }
    .footer p{
        order: 2;
        font-size: 15px !important;
        padding-bottom: 13px;
    }
    .footer-link {
        flex-flow: column;
        order: 1;
        font-size: 17px !important;
        margin-bottom: 29px;
    }
    .footer-link li{
        padding: 14px 0;
        margin: 0;
    }
}

@media only screen and (max-width: 425px) {
    .lines .line:first-of-type{
        left: 25%;
    }
    .lines .line:nth-of-type(2){
        display: none;
    }
    .lines .line:nth-of-type(3){
        display: none;
    }
    .lines .line:nth-of-type(4){
        display: none;
    }
    .lines .line:nth-of-type(5){
       display: none;
    }
    .lines .line:last-of-type{
        left: 75%;
    }
    .block-img {
        width: 100%;
        position: absolute;
        background: url(../img/image.png) no-repeat top left 62px;
        background-size: 500px;
        right: 0;
        z-index: 1;
    }
}